header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}
header nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
